<div class="modal-header">
  <h4 class="modal-title">Log in</h4>
  <button
    type="button"
    class="btn btn-danger"
    aria-label="Close"
    (click)="modal.dismiss()"
  >
    <i class="bi bi-x-lg"></i>
  </button>
</div>
<div class="modal-body">
  <form #loginForm novalidate [formGroup]="form">
    <div class="form-group mb-0">
      <div class="input-group has-validation mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"
            ><i class="bi bi-person-fill"></i
          ></span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Username"
          aria-label="Username"
          formControlName="username"
          required
        />
        <div class="invalid-feedback">Please insert username.</div>
      </div>
      <div class="input-group has-validation">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="bi bi-asterisk"></i></span>
        </div>
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          aria-label="Password"
          formControlName="password"
          required
        />
        <div class="invalid-feedback">Please insert password.</div>
      </div>
    </div>
    <div class="mt-3 text-danger" *ngIf="showError">
      Wrong username or password!
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="login()">
    Log in
  </button>
</div>
