<section class="wallpaper"></section>
<nav class="navbar fixed-top navbar-light">
  <a class="navbar-brand" routerLink="/">
    <img
      src="../assets/logo.svg"
      height="45"
      class="d-inline-block align-bottom"
    />
  </a>
  <button
    type="button"
    class="btn btn-outline-primary"
    (click)="openLoginModal()"
    *ngIf="!currentUser; else logoutButton"
  >
    Log in
  </button>
  <ng-template #logoutButton>
    <button type="button" class="btn btn-outline-danger" (click)="logout()">
      Log out
    </button>
  </ng-template>
</nav>
<section class="content-container">
  <router-outlet></router-outlet>
</section>
